
.wrap form.safecss {
	margin-right: 10px;
}
.wrap textarea#safecss {
	width: 100%;
	height: 350px;
	font-family: "Lucida Grande",Verdana,Arial,"Bitstream Vera Sans",sans-serif;
	font-size: 13px;
	line-height:1.4em;
}

#minor-publishing {
	padding: 10px 10px 20px;
}

label .description {
	padding-left: 17px;
	font-size: 11px;
}

.post-revisions {
	font-size: 11px;
}